{% load vite_tags %}
{% vite_css_vendors as css_vendors %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if debug %}
            <!-- Development: Load Vite Dev Server scripts -->
            <script type="module" src="http://localhost:4200/@vite/client"></script>
            <script type="module" src="http://localhost:4200/src/main.js"></script>
            <link rel="stylesheet" href="http://localhost:4200/src/style.css">
        {% else %}
            <!-- Production: Load built assets from manifest -->
            <script type="module" src="{% vite_asset 'src/main.js' %}"></script>
            <link rel="stylesheet" href="{% vite_asset 'src/style.css' %}">
            {% for style in css_vendors %}
                <link rel="stylesheet" href="{{style}}">
            {% endfor %}
        {% endif %}
    </head>
    <body class="bg-black text-base text-primary-text">

        <div class="layout min-h-svh flex justify-center items-center">

            <div class="layout-box w-full max-w-3xl px-2 py-4">

                <header>
                    <nav 
                        x-data="nav" 
                        class="grid grid-cols-[max-content_1fr] grid-rows-[min-content_min-content] items-center
                        md:grid-cols-[max-content_1fr_max-content] md:grid-rows-1"
                    >
                        <div class="flex gap-2 col-start-1 col-end-2 row-start-1 row-end-2">
                            <svg @click="toggle()" class="icon-btn border border-white rounded-sm hover:bg-hover-bg min-md:hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
                            </svg>
                            <img src="/media/logo.svg" alt="logo">
                        </div>
                        <div class="links-list
                            col-start-1 col-end-3 row-start-2 row-end-3 
                            transition-[max-height] ease-in-out 
                            overflow-hidden
                            md:px-4
                            md:col-start-2 md:col-end-3 md:row-start-1 md:row-end-2 md:!max-h-full"
                        >
                            <ul class="py-2 max-md:space-y-2 md:flex md:gap-2 md:items-center">
                                <li><a class="py-1 px-1 block w-full text-center capitalize {% if request.path == '/' %}font-bold underline{% endif %} underline-offset-2 hover:bg-hover-bg" href="/">home</a></li>
                                <li><a class="py-1 px-1 block w-full text-center capitalize {% if request.path == '/posts/' %}font-bold underline{% endif %} underline-offset-2 hover:bg-hover-bg" href="/posts">posts</a></li>
                                <li><a class="py-1 px-1 block w-full text-center capitalize {% if request.path == '/about/' %}font-bold underline{% endif %} underline-offset-2 hover:bg-hover-bg" href="/about">about</a></li>
                            </ul>
                        </div>
                        <div 
                            class="col-start-2 col-end-3 row-start-1 row-end-2 justify-self-end
                            md:col-start-3 md:col-end-4"
                        >
                            <a class="btn btn--flat" href="/account/login">login</a>
                            <a class="btn btn--blue" href="/account/register">sign up</a>
                        </div>
                    </nav>
                    <h1 class="mt-12 text-large font-bold capitalize">{% block page-header %}{% endblock %}</h1>
                </header>
                
                <main class="mt-8">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>