{% load vite_tags %}
{% vite_css_vendors as css_vendors %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if debug %}
            <!-- Development: Load Vite Dev Server scripts -->
            <script type="module" src="http://localhost:4200/@vite/client"></script>
            <script type="module" src="http://localhost:4200/src/main.js"></script>
            <link rel="stylesheet" href="http://localhost:4200/src/style.css">
        {% else %}
            <!-- Production: Load built assets from manifest -->
            <script type="module" src="{% vite_asset 'src/main.js' %}"></script>
            <link rel="stylesheet" href="{% vite_asset 'src/style.css' %}">
            {% for style in css_vendors %}
                <link rel="stylesheet" href="{{style}}">
            {% endfor %}
        {% endif %}
    </head>
    <body class="bg-black text-base text-primary-text">

        <div class="layout min-h-svh flex justify-center items-center">

            <div class="layout-box w-full max-w-3xl px-2 py-4">

                <header>
                    <nav class="flex items-center justify-between">
                        <img src="/media/logo.svg" alt="logo">
                        <ul>
                            <li><a class="capitalize font-bold underline underline-offset-2" href="/">home</a></li>
                        </ul>
                    </nav>
                    <h1 class="mt-4 text-large font-bold capitalize">{% block page-header %}{% endblock %}</h1>
                </header>
                
                <main class="mt-8">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>