<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'partials/headers.html' %}
    </head>
    <body class="bg-black text-base text-primary-text font-nunito">

        <div class="layout min-h-svh flex justify-center items-center">

            <div class="layout-box px-2 py-4 w-full max-w-3xl">
                
                <main class="border border-primary-border rounded-md px-0.5 py-4 bg-primary-bg">
                    <div class="mb-8 flex flex-col items-center gap-4">
                        <svg viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--twemoji" preserveAspectRatio="xMidYMid meet" width="45" height="45">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path class="fill-green-500" d="M34.459 1.375a2.999 2.999 0 0 0-4.149.884L13.5 28.17l-8.198-7.58a2.999 2.999 0 1 0-4.073 4.405l10.764 9.952s.309.266.452.359a2.999 2.999 0 0 0 4.15-.884L35.343 5.524a2.999 2.999 0 0 0-.884-4.149z"></path>
                            </g>
                        </svg>
                        <h1 class="text-large font-bold capitalize text-center">{% block page-header %}{% endblock %}</h1>
                    </div>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>