<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'partials/headers.html' %}
    </head>
    <body class="bg-black text-base text-primary-text font-nunito">

        <div class="page-layout pb-20 grid grid-rows-[min-content_1fr]">

            <header>
                
                {% include 'partials/nav.html' %}
                
                <div class="layout-box">
                    <h1 x-data="removeEmptyHeader" class="mt-12 text-large font-bold capitalize">{% block page-header %}{% endblock %}</h1>
                </div>
            </header>
            
            <main class="mt-12">

                <div class="layout-box">

                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>