{% extends "layout.account.html" %}

{% block title %}login{% endblock %}
{% block page-header %}sign in{% endblock %}

{% block content %}

    <form method="POST" novalidate>
    
        <div class="form-group">
            <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
            {{form.username}}
            {{form.username.errors}}
        </div>

        <div class="form-group">
            <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
            {{form.password}}
            {{form.password.errors}}
        </div>

        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}" />

        <div class="form-actions text-center">
            <div>
                <a class="btn btn--link btn--xsmall" href="{% url 'account:password_reset' %}">Forgot password?</a>
            </div>
            <div>
                <a class="btn btn--link btn--xsmall" href="{% url 'account:register' %}">Don't have account - create one</a>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn--blue w-full" type="submit">sign in</button>
        </div>
    </form>
{% endblock %}