{% extends "layout.account-form.html" %}

{% block title %}password reset{% endblock %}
{% block page-header %}reset password{% endblock %}

{% block content %}

    <form method="POST" novalidate x-data="autofocusing">

        <div class="form-group">
            <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
            {{form.email}}
            {{form.email.errors}}
        </div>

        {% csrf_token %}

        <div class="form-actions">
            <button class="btn btn--blue w-full" type="submit">send mail</button>
        </div>
    </form>

{% endblock %}