{% extends "layout.base.html" %}

{% block title %}posts{% endblock %}
{% block page-header %}{% if tag %}{{tag.name}}{% endif %}{% endblock %}

{% block content %}
    <section class="mt-12">

        <div class="posts" x-data="postsList">

            <ul class="main-list space-y-4">
                {% include "partials/posts_list.html" %}
            </ul>

            <div class="text-center py-4">
                <span class="loader" x-show="!emptyPage && isFetching"></span>
            </div>
        </div>
    </section>
{% endblock %}