{% extends "layout.base.html" %}
{% load markdown %}

{% block title %}{{ post.title }}{% endblock %}
{% block page-header %}{{ post.title }}{% endblock %}

{% block content %}
    <section>

        <ul class="flex mt-6">
            {% for tag in post.tags.all %}
                <li><a class="btn btn--flat px-1 py-0 lowercase text-base-1 font-normal" href="{% url 'website:posts_by_tag' tag.slug %}">#{{tag.name}}</a></li>
            {% endfor %}
        </ul>

        {% if post.status == 'DR' %}
            <div id="ctrls" x-data>
                <template x-teleport="body">
                    <div class="border-t border-primary-border fixed bottom-0 left-0 w-full bg-primary-bg/70">
                        <div class="mx-auto p-2 max-w-3xl flex justify-end gap-2">
                            <a href="{% url 'website:post_edit' id=post.id %}" class="btn btn--blue">edit</a>
                            <form action="{% url 'website:post_publish' id=post.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn--blue">publish</button>
                            </form>
                        </div>
                    </div>
                </template>
            </div>
        {% endif %}

        <div id="markdown-text" class="mt-12 rounded-md px-4 py-6 bg-primary-bg">{{ post.body|markdown }}</div>
    </section>
{% endblock %}